/* Fullscreen for an IFrame button */
.fullscreen-on ~ iframe {
  position: fixed;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  border: 0;
  z-index: 100 !important;
}
.fullscreen-button {
  color: rgba(255,255,255,0.6);
  transition: all 0.2s ease;
  position: absolute;
  z-index: 101;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.fullscreen-button.fullscreen-on {
  position: fixed;
}
.fullscreen-button:hover {
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0 0 500px rgb(100,190,255);
  text-shadow: 0 0 500px rgb(100,190,255);
}

.close-button {
  color: rgba(255,255,255,0.6);
  transition: all 0.2s ease;
  position: absolute;
  z-index: 101;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
.fullscreen-on ~ .close-button {
  position: fixed;
}
.close-button:hover {
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0 0 500px rgb(100,190,255);
  text-shadow: 0 0 500px rgb(100,190,255);
}

/* Preview Button */
.round-button {
  box-sizing: border-box;
  display:block;
  width:80px;
  height:80px;
  padding-top: 14px;
  padding-left: 8px;
  line-height: 20px;
  border: 6px solid #fff;
  border-radius: 20%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background-color: rgba(0,0,0,0.5);
  font-size:20px;
  font-weight:bold;
  transition: all 0.2s ease;

  /* Center vertically */
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
  cursor: pointer;
}
.round-button:hover {
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0 0 500px rgb(100,190,255);
  text-shadow: 0 0 500px rgb(100,190,255);
}
.preview-container .content iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  border:none;
  z-index: 1;
}
.preview-container .content {
  display: flex;
  justify-content: center;
  position: relative;
}
.preview-container .preview {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.preview-container .preview img {
  filter: none; !important;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2 / 1;
  border-radius: 25px;
}
